<div class="card mb-0">
    <div class="">
        <div class="row m-3">
            <div class="col-lg-4 p-0">

                <table class="table table-bordered table-hover  mb-0 text-center" style="max-height: 460px; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th colspan="2" class="p-0">
                                <select name="" id="" class="w-100" style="height: 38px;">
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Mã hàng hóa</th>
                            <th class="text-center">Tên hàng hóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 p-0">

                <table class="table table-bordered table-hover mb-0 bg-light text-center" style="max-height: 460px; overflow-y: scroll;">
                    <thead>
                        <tr style="background: white;">
                            <th colspan="4" class="p-0">
                                <div class="group-btn">
                                    <div class="d-flex justify-content-end">
                                        <a href="#addModal" class="btn btn-primary" style="border-radius:0">
                                            <span>Thêm Sản Phẩm</span>
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">đơn vị tính </th>
                            <th class="text-center">số lượng chyển đổi</th>
                            <th class="text-center"></th>
                            <th class="text-center">tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                                <a href="#" >
                                    <i class="bi bi-trash"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-trash"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>s</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-trash"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>