<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Báo cáo tồn kho</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />

    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />
</head>

<body>
    <section class="section" style="background-color: white">
        <div class="card p-0" style="box-shadow: none">
            <div class="card-body">
                <header class="d-flex justify-content-between mb-4"
                        style="border-bottom: double; font-size: larger">
                    <div class="infor-DN d-flex col-sm-8 col-lg-8">
                        <img src="/assets/img/apple-touch-icon.png"
                             alt=""
                             style="height: 120px; width: 120px" />

                        <div class="infomation col-sm-8" style="margin-left: 40px">
                            <div class="row mb-1">
                                <label class="col-lg-12 col-form-label p-0"
                                       style="text-transform: uppercase; font-size: larger">
                                    <b>Công ty trách nhiệm hữu hạn một thành viên col</b>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-lg-12 col-form-label p-0">
                                    Địa chỉ: 947/33 lẠC LONG QUÂN PHƯỜNG 10 QUẬN TÂN BÌNH TP HỒ
                                    CHÍ MINH
                                </label>
                            </div>
                            <div class="row justify-content-between">
                                <label class="col-lg-5 col-form-label p-0">SĐT: 0394456540</label>
                                <label class="col-lg-6 col-form-label p-0">Email: maianhloc24@gmail.com</label>
                            </div>
                            <div class="row justify-content-between">
                                <label class="col-lg-5 col-form-label p-0">
                                    MST: 01245585789655
                                </label>
                                <label class="col-lg-6 col-form-label p-0">Số TK: 0231000683778</label>
                            </div>
                            <div class="row justify-content-between">
                                <label class="col-lg-5 col-form-label p-0">
                                    Ngân hàng: Vietcombank
                                </label>
                                <label class="col-lg-6 col-form-label p-0">Chủ TK: Mai Anh Lộc</label>
                            </div>
                        </div>
                    </div>
                    <div class="note-name d-flex justify-content-center flex-column col-sm-4 col-lg-4">
                        <h4 class="text-center" style="color: black">
                            <b>PHIẾU XUẤT KHO NỘI BỘ</b>
                        </h4>
                        <div class="row justify-content-between">
                            <label class="col-lg-6 col-form-label p-0">
                                Từ ngày: 24/02/2001
                            </label>
                            <label class="col-lg-6 col-form-label p-0">Đến ngày: 25/25/2025</label>
                        </div>
                    </div>
                </header>
                <article>
                    <div>
                        <table class="table table-hover text-center table-border display nowrap thead-light"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="text-start">Tên hàng hóa</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">ĐVT</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Thành tiền</th>
                                    <th class="text-center">%CK</th>
                                    <th class="text-center">Thuế suất</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-start"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="sign">
                        <div class="row" style="font-size: larger">
                            <label class="col-sm-4 col-4 text-center text-dark">
                                <b>Thủ trưởng đơn vị</b>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark">
                                <b>Kế toán</b>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark"><b>Người lập phiếu</b></label>
                        </div>
                        <div class="row">
                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px">
                                <i>(ký,họ tên, đóng dấu)</i>
                            </label>
                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px">
                                <i>(ký,họ tên)</i>
                            </label>

                            <label class="col-sm-4 col-4 text-center text-dark"
                                   style="padding-bottom: 120px"><i>(ký,họ tên)</i></label>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- Vendor JS Files -->

    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
</body>
</html>
