@{
  webContext context = new webContext();
  var acc = User.FindFirst("User");
  string tentk = null, name = null, vaitro = null;
  int idUser = 0;
  if (acc != null)
  {
    vaitro = acc.Value;
    tentk = acc.Subject.Name;
    name = User.Claims.ElementAt(2).Value;
    idUser = int.Parse(User.Claims.ElementAt(2).Type);
    //ViewData["NhanVien"] = idUser;
  }

  List<int?> menu(){
    return context.ChucNang.Where(x => x.Active == true && x.Idvt == int.Parse(vaitro)).Select(x => x.Idmenu).ToList();
  }

  //List<ChucNang> listCN()
  //{
  //  return context.ChucNang.Where(x => x.Active == true && x.Idvt == int.Parse(vaitro)).ToList();
  //}


}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon" />
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/fonts.css" />

    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/datatables.min.css" />

    <!-- Template Main CSS File -->
    <link href="~/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/Modalcss.css" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <script src="~/jquery-3.6.1.min.js"></script>

    <script src="~/umd/popper.min.js"></script>
    <script src="~/moment.js/moment.min.js"></script>
    <script src="~/bootstrap-datetimepicker.min.js"></script>
    <script src="/select/js/selectize.min.js"></script>
    <link rel="stylesheet" href="~/select/css/selectize.bootstrap4.min.css" />

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block">VTYT</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
                <button type="submit" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets/img/profile-img.jpg" alt="Hồ sơ" class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/HeThong/HoSo/@idUser">
                                <i class="bi bi-person"></i>
                                <span>Hồ sơ</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/HoSo/Hoso">
                                <i class="bi bi-gear"></i>
                                <span>Cài đặt tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Login/LogOut">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item ">
                <a class="nav-link collapsed" href="/">
                    <i class="bi bi-grid"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#danhmuc-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Danh mục</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="danhmuc-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/TrangChu/HangHoa">
                            <i class="bi bi-circle"></i><span>Hàng hoá</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/DonViTinh">
                            <i class="bi bi-circle"></i><span>Đơn vị tính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/HH_DVT">
                            <i class="bi bi-circle"></i><span>Hàng hoá - đơn vị tính</span>
                        </a>
                    </li>
                     <li>
                        <a href="/TrangChu/GiaBanChung">
                            <i class="bi bi-circle"></i><span>Cài đặt tỉ lệ, giá bán chung</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/GiaBanChungKH">
                            <i class="bi bi-circle"></i><span>Cài đặt tỉ lệ, giá bán chung theo khách hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/GiaBanChungNHH">
                            <i class="bi bi-circle"></i><span>Cài đặt tỉ lệ theo nhóm hàng hóa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhomNhanVien">
                            <i class="bi bi-circle"></i><span>Nhóm nhân viên</span>
                        </a>

                    </li>
                    <li>
                        <a href="/TrangChu/NuocSanXuat">
                            <i class="bi bi-circle"></i><span>Nước sản xuất</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/HangSanXuat">
                            <i class="bi bi-circle"></i><span>Hãng sản xuất</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhomHangHoa">
                            <i class="bi bi-circle"></i><span>Nhóm hàng hóa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhaCungCap">
                            <i class="bi bi-circle"></i><span>Nhà cung cấp</span>
                        </a>
                    </li>

                    <li>
                        <a href="/TrangChu/DVVC">
                            <i class="bi bi-circle"></i><span>Dịch vụ vận chuyển</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/KhachHang">
                            <i class="bi bi-circle"></i><span>Khách hàng</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/CachXuat">
                            <i class="bi bi-circle"></i><span>Cách xuất</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Danh mục Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#quanly-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="quanly-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/PhieuNhapKho">
                            <i class="bi bi-circle"></i><span>Phiếu nhập kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="/PhieuXuatKho">
                            <i class="bi bi-circle"></i><span>Phiếu xuất kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="Thuno">
                            <i class="bi bi-circle"></i><span>Phiếu thu nợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Trano">
                            <i class="bi bi-circle"></i><span>Phiếu trả nợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Taophieu">
                            <i class="bi bi-circle"></i><span>Tạo phiếu</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- End Quản lý Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#baocao-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Báo cáo</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="baocao-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="BCNhapkho">
                            <i class="bi bi-circle"></i><span>Báo cáo nhập kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCXuatkho">
                            <i class="bi bi-circle"></i><span>Báo cáo xuất kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCTonKho">
                            <i class="bi bi-circle"></i><span>Báo cáo tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCDoanhthu">
                            <i class="bi bi-circle"></i><span>Báo cáo doanh thu</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCTruythu">
                            <i class="bi bi-circle"></i><span>Báo cáo truy thu</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Báo cáo Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#hethong-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Hệ thống</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="hethong-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/HeThong/HoSo/@idUser">
                            <i class="bi bi-circle"></i><span>Hồ sơ</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/PhanQuyen">
                            <i class="bi bi-circle"></i><span>Phân quyền</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/VaiTro">
                            <i class="bi bi-circle"></i><span>Vai trò</span>
                        </a>
                    </li>
                    <li>
                        <a href="DTCanhan">
                            <i class="bi bi-circle"></i><span>Doanh thu cá nhân</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Hệ thống Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#blog-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="blog-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="Thongbao.html">
                            <i class="bi bi-circle"></i><span>Thông báo</span>
                        </a>
                    </li>
                    <li>
                        <a href="Huongdan.html">
                            <i class="bi bi-circle"></i><span>Hướng dẫn</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- End Icons Nav -->
        </ul>
    </aside>
    <!-- End Sidebar -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>@ViewData["Title"]</h1>

        </div>
        <!-- End Page Title -->

        <section class="section">
            @RenderBody()
        </section>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>COL</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Edited design by COL
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script>
        function chooseFile1(fileinput) {
            if (fileinput.files && fileinput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image1").attr("src", e.target.result);
                };
                reader.readAsDataURL(fileinput.files[0]);
            }
        }
    </script>
    <script type="text/javascript" src="~/datatables.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    @*<script src="~/datepicker-vi.js"></script>*@
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/HeThong.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.DataTable.ext.pager.numbers_length = 5;
            $("#example").dataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                bLengthChange: false,
                bInfo: false,
                scrollX: true,
                fixedHeader: true,
                language: {
                    paginate: {
                        previous: "Trước",
                        next: "Sau",
                    },
                    search: "Tìm kiếm",

                },
            });
            /* $('.form-select').select2({
                 matcher: function(params, data) {
                     // If there are no search terms, return all of the data
                     if ($.trim(params.term) === '') { return data; }

                     // Do not display the item if there is no 'text' property
                     if (typeof data.text === 'undefined') { return null; }

                     // `params.term` is the user's search term
                     // `data.id` should be checked against
                     // `data.text` should be checked against
                     var q = params.term.toLowerCase();
                     if (data.text.toLowerCase().indexOf(q) > -1 || data.id.toLowerCase().indexOf(q) > -1) {
                         return $.extend({}, data, true);
                     }

                     // Return `null` if the term should not be displayed
                     return null;
                 }
             });
             $('span.select2').css('width','auto');
             $('.form-select').on('select2:select', function (e) {
                 var data = e.params.data;
                 console.log(data);
             });*/
            $('.form-select2').selectize({
                dataAttr: 'data-extra',
                searchField: ['value', 'text', 'label']
            });

            $('#SoLo,#ThueXuat').selectize({
                create: true,
                dataAttr: 'data-extra',
                searchField: ['value', 'text', 'label']
            });

            $('#NgayNhap').datetimepicker({
                locale: 'vi',
                useStrict: true,
                format: "DD-MM-yyyy HH:mm",
                icons: {
                    date: "bi bi-calendar2-date",
                    up: "bi bi-chevron-up",
                    down: "bi bi-chevron-down",
                    previous: 'bi bi-chevron-left',
                    next: 'bi bi-chevron-right',
                    time: "bi bi-clock"
                }
            });
            $('#HanDung,#NgayHD,#NgaySX,#toDay,#fromDay').datetimepicker({
                locale: 'vi',
                useStrict: true,
                format: "DD-MM-yyyy",
                icons: {
                    date: "bi bi-calendar2-date",
                    up: "bi bi-chevron-up",
                    down: "bi bi-chevron-down",
                    previous: 'bi bi-chevron-left',
                    next: 'bi bi-chevron-right',
                    time: "bi bi-clock"
                }
            });
        });
        $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });
        function change() {
            $('#HanDung').val();
        }
    </script>
    <script type="text/javascript">

    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
