@model VatTuYTeDanhMuc.Models.Entities.NhomNhanVien



<h1>Thêm nhóm nhân viên</h1>

<h4>Nhóm nhân viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertNNV">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNnv" class="control-label"></label>
                <input asp-for="MaNnv" class="form-control" />
                <span asp-validation-for="MaNnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNnv" class="control-label"></label>
                <input asp-for="TenNnv" class="form-control" />
                <span asp-validation-for="TenNnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcn" class="control-label"></label>
                <input asp-for="Idcn" class="form-control" />
                <span asp-validation-for="Idcn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="table">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
