<div class="pagetitle">
    <h1>Phiếu nhập kho</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active">
                <a href="Phieunhap.html">Phiếu nhập kho</a>
            </li>

        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="form">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center"><b>Phiếu nhập kho</b></h5>

                <!-- General Form Elements -->

                <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Mã phiếu</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly disabled />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Người lập đơn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly disabled />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Ngày lập đơn</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" readonly disabled />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Người chỉnh sửa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly disabled />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDate" class="col-sm-2 col-form-label">Ngày chỉnh sửa</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" readonly disabled />
                    </div>
                </div>


                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>

                            <th>Loại hàng hóa</th>
                            <th>Mã hàng hóa</th>
                            <th>Tên Hàng Hóa</th>
                            <th>Số lô</th>
                            <th>NSX</th>
                            <th>HSD</th>
                            <th>Thời gian bảo hành</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Laptop</td>
                            <td>002</td>
                            <td>Laptopgaming</td>
                            <td>20</td>
                            <td>18,000,000</td>
                            <td>360,000,000</td>
                            <td>Laptopgaming</td>
                            <td>20</td>
                            <td>18,000,000</td>
                            <td>360,000,000</td>
                        </tr>
                        <tr>
                            <th colspan="9">Tổng</th>
                            <th>360,000,000</th>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group text-center">
                    <button class="btn btn-success">xuất file PDF</button>
                    <button class="btn btn-primary">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
</section>
