@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<HhDvt> getListHH_Dvt()
    {
        return context.HhDvt.Where(x => x.Active == true).ToList();
    }

    HangHoa getHangHoa(int? id){
        return context.HangHoa.Find(id);
    }

    Dvt getDVT(int? id){
        return context.Dvt.Find(id);
    }
    List<NhomHangHoa> getNhomHH(){
        return context.NhomHangHoa.ToList();
    }
    List<HangHoa> getListHH()
    {
        return context.HangHoa.Where(x => x.Active == true).ToList();
    }
}
@if (TempData["ThongBao"] != null)
{
                        <script type="text/javascript" charset="utf-8">
                            window.onload = function () {
                                alert("@Html.Raw(@TempData["ThongBao"])");
                        };
                        </script>
}
<div class="card mb-0">
    <div class="">
        <div class="row m-3">
            <div class="col-lg-4 p-0">

                <table class="table table-bordered table-hover  mb-0 text-center" style="max-height: 460px; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th colspan="2" class="p-0">
                                <select id="nhomHH" onchange="loadTableHangHoa()" class="w-100" style="height: 38px;">
                                    <option selected disabled>-- Nhóm hàng hoá --</option>
                                    @foreach(NhomHangHoa n in getNhomHH()){
                                    <option value="@n.Id">@n.TenNhh</option>
                                    }
                                </select>
                            </th>
                        </tr>
                    <tr>
                        <th class="text-center">Mã hàng hóa</th>
                        <th class="text-center">Tên hàng hóa</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyHH">
                        <tr>
                            <td>Mã hàng hóa</td>
                            <td>Tên hàng hóa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8 p-0">

                <table class="table table-bordered table-hover mb-0 bg-light text-center" style="max-height: 460px; overflow-y: scroll;">
                    <thead>
                        <tr style="background: white;">
                            <th colspan="4" class="p-0">
                                <div class="group-btn">
                                    <div class="d-flex justify-content-end">
                                        <a href="#addModal" class="btn btn-primary" style="border-radius:0">
                                            <span>Thêm Sản Phẩm</span>
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Đơn vị tính </th>
                            <th class="text-center">Số lượng chyển đổi</th>
                            <th class="text-center">tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyHH_DVT">
                        <tr>
                            <td>s</td>
                            <td>s</td>
                            <td>
                                <a href="#">
                                    <i class="bi bi-pencil-square"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                                <a href="#" >
                                    <i class="bi bi-trash"
                                       style="margin-right: 10px; margin-left: 10px"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    function loadTableHangHoa(){
        var nhomHH = $('#nhomHH').val();
        $.ajax({
            type: "post",
            url: "/loadTableHangHoa",
            data: "nhomHH=" + nhomHH,
            success: function (result) {
                $('#tbodyHH').replaceWith(result);
            },
            error: function () {
                alert("Fail");
            }
        });
    }

    function loadTableHH_DVT(id){
        $.ajax({
            type: "post",
            url: "/loadTableHH_DVT",
            data: "idHH=" + id,
            success: function (result) {
                $('#tbodyHH_DVT').replaceWith(result);
            },
            error: function () {
                alert("Fail");
            }
        });
    }
</script>