@{
    webContext context = new webContext();
    NhanVien getNhanVien(int? id)
    {
        NhanVien nv = context.NhanVien.Find(id);
        if (nv != null) return nv;
        else return new NhanVien();
    }
    List<HhDvt> getListHH_Dvt()
    {
        return context.HhDvt.Where(x => x.Active == true).ToList();
    }

    HangHoa getHangHoa(int? id){
        return context.HangHoa.Find(id);
    }

    Dvt getDVT(int? id){
        return context.Dvt.Find(id);
    }
    List<NhomHangHoa> getNhomHH(){
        return context.NhomHangHoa.ToList();
    }
    List<HangHoa> getListHH()
    {
        return context.HangHoa.Where(x => x.Active == true).ToList();
    }
}
@if (TempData["ThongBao"] != null)
{
                        <script type="text/javascript" charset="utf-8">
                            window.onload = function () {
                                alert("@Html.Raw(@TempData["ThongBao"])");
                        };
                        </script>
}
<div class="card mb-0" style="height:525px;">
    <div class="" style="overflow-x:auto">
        <div class="m-3" style="display:flex;flex-direction: row; overflow-x:auto; align-items: baseline;">
            <div class="col-lg-4 col-4 p-0 border-dark" style="min-width: 392px; overflow-y: auto; max-height: 480px;" id="table1">
                <table class="table table-bordered table-hover  mb-0 text-center h-100">
                    <thead>
                        <tr>
                            <th class="p-0">
                                <input placeholder="Tìm kiếm" id="search" type="text" style="height: 38px;" class="w-100"/>
                            </th>
                            <th class="p-0">
                                <select id="nhomHH" onchange="loadTableHangHoa()" class="w-100" style="height: 38px;">
                                    <option selected disabled>-- Nhóm hàng hoá --</option>
                                    @foreach(NhomHangHoa n in getNhomHH()){
                                    <option value="@n.Id">@n.TenNhh</option>
                                    }
                                </select>
                            </th>
                        </tr>
                    <tr>
                        <th class="text-center">Mã hàng hóa</th>
                        <th class="text-center">Tên hàng hóa</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyHH">
                        <tr>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="idHH"/>
            <div class="col-lg-8 col-8 p-0 border-dark" style="min-width: 784px; overflow-y: auto; max-height: 480px;">

                <table class="table table-bordered  mb-0  text-center bg-light" id="myTable">
                    <thead>
                        <tr style="background: white;">
                            <th colspan="4" class="p-0">
                                <div class="group-btn">
                                    <div class="d-flex justify-content-end">
                                        <a href="#" class="btn btn-primary" style="border-radius:0" id="add_new">
                                            <span>Thêm Mới</span>
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Đơn vị tính </th>
                            <th class="text-center">Số lượng chuyển đổi</th>
                            <th class="text-center">Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyHH_DVT">
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    function loadTableHangHoa(){
        var nhomHH = $('#nhomHH').val();
        $.ajax({
            type: "post",
            url: "/loadTableHangHoa",
            data: "nhomHH=" + nhomHH,
            success: function (result) {
                $('#tbodyHH').replaceWith(result);
            },
            error: function () {
                alert("Fail");
            }
        });
    }

    function loadTableHH_DVT(id){
        $('#idHH').val(id);
        $.ajax({
            type: "post",
            url: "/loadTableHH_DVT",
            data: "idHH=" + id,
            success: function (result) {
                $('#tbodyHH_DVT').replaceWith(result);  
            },
            error: function () {
                alert("Fail");
            }
        });
    }

    $(function () {
            $("#add_new").click(function () {

                $.ajax({
                    type: "post",
                    url: "/addNewRowHH_DVT",
                    success: function (result) {
                        $("#tbodyHH_DVT").append(result)
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".edit", function () {
                var a = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
                var sl = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
                var thiss = $(this);
                var id = $(this).attr("value");
                $.ajax({
                    type: "post",
                    url: "/addNewRowHH_DVT",
                    data: "idDVT="+ a + "&sl="+sl + "&id="+id,
                    success: function (result) {
                        thiss.parents('tr').replaceWith(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".save", function () {
                var idDVT = $(this).parents('tr').find("td:eq(0) select").val();
                var sl = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
                var idHH = $('#idHH').val();
                var id = $(this).attr("value");
                $.ajax({
                    type: "post",
                    url: "/updateHH_DVT",
                    data: "idHH=" + idHH + "&sl="+sl+"&idDVT="+idDVT+"&id="+id,
                    success: function (result) {
                        $.ajax({
                            type: "post",
                            url: "/loadTableHH_DVT",
                            data: "idHH=" + idHH,
                            success: function (result) {
                                $('#tbodyHH_DVT').replaceWith(result);
                            },
                            error: function () {
                                alert("Fail");
                            }
                        });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });

            });
             $("#myTable").on("click", ".add", function () {
                var idDVT = $(this).parents('tr').find("td:eq(0) select").val();
                var sl = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
                var idHH = $('#idHH').val();

                $.ajax({
                    type: "post",
                    url: "/addHH_DVT",
                    data: "idHH=" + idHH + "&sl="+sl+"&idDVT="+idDVT,
                    success: function (result) {
                        $.ajax({
                            type: "post",
                            url: "/loadTableHH_DVT",
                            data: "idHH=" + idHH,
                            success: function (result) {
                                $('#tbodyHH_DVT').replaceWith(result);
                            },
                            error: function () {
                                alert("Fail");
                            }
                        });
                        alert(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
            $("#myTable").on("click", ".remove", function () {
                if(confirm('Bạn có muốn xoá?')){
                    var id = $(this).attr("value");
                    var idHH = $('#idHH').val();
                    $.ajax({
                        type: "post",
                        url: "/removeHH_DVT",
                        data: "id="+id,
                        success: function (result) {
                            $.ajax({
                                type: "post",
                                url: "/loadTableHH_DVT",
                                data: "idHH=" + idHH,
                                success: function (result) {
                                    $('#tbodyHH_DVT').replaceWith(result);
                                },
                                error: function () {
                                    alert("Fail");
                                }
                            });
                            alert(result);
                        },
                        error: function () {
                            alert("Fail");
                        }
                    });
                }
            });
            $("#myTable").on("click", ".btn-secondary", function () {
                $.ajax({
                    type: "post",
                    url: "/loadTableHH_DVT",
                    data: "idHH=" + $('#idHH').val(),
                    success: function (result) {
                        $('#tbodyHH_DVT').replaceWith(result);
                    },
                    error: function () {
                        alert("Fail");
                    }
                });
            });
        })

        $('#search').keyup(function(e){
            var nhomHH = $('#nhomHH').val();
            var key = $(this).val();
                $.ajax({
                type: "post",
                url: "/searchTableHH",
                data: "nhomHH=" + nhomHH + "&key="+key,
                success: function (result) {
                    $('#tbodyHH').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
</script>