<div class="card">
        <div class="card-body">
            <table id="example" >
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Ngày nhập kho</th>
                        <th>Người lập đơn</th>
                        <th>Giá trị</th>
                        <th>Trạng thái</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DX01</td>
                        <td>24/12/2022</td>
                        <td>Trần Uy</td>
                        <td>1.200.000.000vnđ</td>
                        <td>Hoàn thành</td>
                        <td>
                            <a href="#">
                                <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="">
                                <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="Phieunhap.html"> Xem </a>
                        </td>
                    </tr>
                    <tr>
                        <td>DX01</td>
                        <td>24/12/2021</td>
                        <td>Trần Uy</td>
                        <td>1.200.000.000vnđ</td>
                        <td>Hoàn thành</td>
                        <td>
                            <a href="Phieunhap.html">
                                <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="">
                                <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="#"> Xem </a>
                        </td>
                    </tr>
                    <tr>
                        <td>DX01</td>
                        <td>24/12/2021</td>
                        <td>Thanh Ý</td>
                        <td>1.200.000.000vnđ</td>
                        <td>Hoàn thành</td>
                        <td>
                            <a href="#">
                                <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="">
                                <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="Phieunhap.html"> Xem </a>
                        </td>
                    </tr>
                    <tr>
                        <td>DX01</td>
                        <td>24/12/2021</td>
                        <td>Trần Uy</td>
                        <td>1.200.000.000vnđ</td>
                        <td>Hoàn thành</td>
                        <td>
                            <a href="Phieunhap.html">
                                <i
                                  class="bi bi-pencil-square"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="">
                                <i
                                  class="bi bi-trash"
                                  style="margin-right: 10px; margin-left: 10px"
                                ></i>
                              </a>
                              <a href="#"> Xem </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
       </div>