@model VatTuYTeDanhMuc.Models.Entities.KhachHang

@{
    ViewData["Title"] = "ViewInsertKH";
}

<h1>Thêm khách hàng</h1>

<h4>khách hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertKH">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKh" class="control-label"></label>
                <input asp-for="MaKh" required class="form-control" />
                <span asp-validation-for="MaKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKh" class="control-label"></label>
                <input asp-for="TenKh" required class="form-control" />
                <span asp-validation-for="TenKh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" required class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" required class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" required class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSoThue" class="control-label"></label>
                <input asp-for="MaSoThue" required class="form-control" />
                <span asp-validation-for="MaSoThue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" required class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nvsale" class="control-label"></label>
                <input asp-for="Nvsale" required class="form-control" />
                <span asp-validation-for="Nvsale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTaiKhoan" class="control-label"></label>
                <select asp-for="TenTaiKhoan" required class ="form-control" asp-items="ViewBag.TenTaiKhoan"></select>
            </div>
             <div class="form-group">
                <label asp-for="Idcn" class="control-label"></label>
                <input asp-for="Idcn" required class="form-control" />
                <span asp-validation-for="Idcn" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Idnv" class="control-label"></label>
                <select asp-for="Idnv" required class ="form-control" asp-items="ViewBag.Idnv"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="table">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
