<div class="pagetitle">
    <h1>Hàng hóa</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item">Danh mục</li>
            <li class="breadcrumb-item active"><a href="Hanghoa">Hàng hóa</a></li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div style="margin-bottom: 20px; display: flex; justify-content: space-between">
        <a class="btn btn-primary" href="ThemHH">
            <span>Thêm Sản Phẩm</span>
        </a>
        <div>
            <div class="dropdown">
                <select class="form-select"
                        aria-label="Default select example">
                    <option selected disabled>Sắp xếp theo</option>
                    <option value="1">Giá: Thấp đến cao</option>
                    <option value="2">Giá: Cao đến thấp</option>
                </select>
            </div>
        </div>
    </div>

    <div class="product" style="display: flex; flex-wrap: wrap">

        <ul>
            <div class="card">
                <div class="profile-card pt-4 d-flex flex-column"
                     style="padding: 0 10px 0 10px">
                    <img style="width: 300px; height: 250px"
                         src="assets/img/dau-kim-tiem-vo-trung.jpg" />
                    <h5 style="margin-top: 10px; width: 300px; height: 45px;">
                        <b>Đầu kim tiêm vô trùng</b>
                    </h5>

                    <h6>Giá: 12000000đ</h6>
                    <div style="display: flex; justify-content: space-between">
                        <h6>Còn: 40</h6>
                        <label for="" style="display: block; color: red"> hết hàng</label>
                    </div>
                    <div class="social-links"
                         style="display: flex; justify-content: space-between">
                        <div>
                            <a class="chinhsua" href="SuaHH">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="#" class="Xoa"><i class="bi bi-trash"></i></a>
                        </div>
                        <a href="CTLap.html" class="chitiet"><i class="=">Chi tiết</i></a>
                    </div>
                </div>
            </div>
        </ul>


    </div>
    <div>
        <a href="" style="
          display: block;
          margin: 5px auto 15px;
          padding: 15px 20px;
          text-align: center;"><i>Xem thêm>>></i></a>
    </div>
   
</section>