<div class="pagetitle">
    <h1>Sửa thông tin khách hàng</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item">Danh mục</li>
            <li class="breadcrumb-item"><a href="Khachhang">Khách hàng</a></li>
            <li class="breadcrumb-item"><a href="SuaKhachhang">Sửa thông tin khách hàng</a></li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="card">

        <div class="card-body">
            <form action="" method="get">
                <div class="form1-header text-center">
                    <h4 class="form1-title "><b>Sửa thông tin khách hàng</b></h4>
                </div>
                <div class="form1-body">

                    <div class="form-group">
                        <label>Mã khách hàng</label>
                        <input name="mahh" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên khách hàng</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="name" type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Mã số thuế</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tài khoản</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên sale</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Chi nhánh</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên tạo</label>
                        <input name="type" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày tạo</label>
                        <input type="date" name="image" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên sửa </label>
                        <input name="image" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>Ngày sửa</label>
                        <input type="date" name="image" class="form-control" required></input>
                    </div>

                </div>
                <div class="form1-footer">
                    <input type="submit" class="btn btn-primary" value="Lưu">
                </div>
            </form>

        </div>
    </div>
</section>

