<div class="pagetitle">
    <h1>Thêm nước sản xuất</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item">Danh mục</li>
            <li class="breadcrumb-item"><a href="NuocSX">Nước sản xuất</a></li>
            <li class="breadcrumb-item"><a href="ThemNuocSX">Thêm nước sản xuất</a></li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="card">

        <div class="card-body">
            <form action="" method="get">
                <div class="form1-header text-center">
                    <h4 class="form1-title "><b>Thêm nước sản xuất</b></h4>
                </div>
                <div class="form1-body">

                    <div class="form-group">
                        <label>Mã nước sản xuất</label>
                        <input name="mahh" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên nước sản xuất</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Chi nhánh</label>
                        <input name="name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên tạo</label>
                        <input name="type" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Ngày tạo</label>
                        <input type="date" name="image" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên sửa </label>
                        <input name="image" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>Ngày sửa</label>
                        <input type="date" name="image" class="form-control" required></input>
                    </div>

                </div>
                <div class="form1-footer">
                    <input type="submit" class="btn btn-primary" value="Lưu">
                </div>
            </form>

        </div>
    </div>
</section>

