@{
    Layout = null;
            }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon" />
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/fonts.css" />

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/datatables.min.css" />
    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/css/Modalcss.css" />
    <script src="~/jquery-3.6.1.min.js"></script>
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block">VTYT</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center"
                  method="POST"
                  action="#">
                <input type="text"
                       name="query"
                       placeholder="Search"
                       title="Enter search keyword" />
                <button type="submit" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle" href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <!-- End Search Icon-->

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0"
                       href="#"
                       data-bs-toggle="dropdown">
                        <img src="~/assets/img/profile-img.jpg"
                             alt="Hồ sơ"
                             class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="Hoso.html">
                                <i class="bi bi-person"></i>
                                <span>Hồ sơ</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="/HoSo/Hoso">
                                <i class="bi bi-gear"></i>
                                <span>Cài đặt tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Dăng xuất</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="bi bi-grid"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#danhmuc-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Danh mục</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="danhmuc-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/TrangChu/HangHoa">
                            <i class="bi bi-circle"></i><span>Hàng hoá</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/DonViTinh">
                            <i class="bi bi-circle"></i><span>Đơn vị tính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/HH_DVT">
                            <i class="bi bi-circle"></i><span>Hàng hoá - đơn vị tính</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhomNhanVien">
                            <i class="bi bi-circle"></i><span>Nhóm nhân viên</span>
                        </a>

                    </li>
                    <li>
                        <a href="/TrangChu/NuocSanXuat">
                            <i class="bi bi-circle"></i><span>Nước sản xuất</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/HangSanXuat">
                            <i class="bi bi-circle"></i><span>Hãng sản xuất</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhomHangHoa">
                            <i class="bi bi-circle"></i><span>Nhóm hàng hóa</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/NhaCungCap">
                            <i class="bi bi-circle"></i><span>Nhà cung cấp</span>
                        </a>
                    </li>

                    <li>
                        <a href="/TrangChu/DVVC">
                            <i class="bi bi-circle"></i><span>Dịch vụ vận chuyển</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrangChu/KhachHang">
                            <i class="bi bi-circle"></i><span>Khách hàng</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Danh mục Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#quanly-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="quanly-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="Lichsunhapkho">
                            <i class="bi bi-circle"></i><span>Lịch sử nhập kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="Lichsuxuatkho">
                            <i class="bi bi-circle"></i><span>Lịch sử xuất kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="Thuno">
                            <i class="bi bi-circle"></i><span>Phiếu thu nợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Trano">
                            <i class="bi bi-circle"></i><span>Phiếu trả nợ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Taophieu">
                            <i class="bi bi-circle"></i><span>Tạo phiếu</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- End Quản lý Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#baocao-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Báo cáo</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="baocao-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="BCNhapkho">
                            <i class="bi bi-circle"></i><span>Báo cáo nhập kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCXuatkho">
                            <i class="bi bi-circle"></i><span>Báo cáo xuất kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCTonKho">
                            <i class="bi bi-circle"></i><span>Báo cáo tồn kho</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCDoanhthu">
                            <i class="bi bi-circle"></i><span>Báo cáo doanh thu</span>
                        </a>
                    </li>
                    <li>
                        <a href="BCTruythu">
                            <i class="bi bi-circle"></i><span>Báo cáo truy thu</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Báo cáo Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#hethong-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-bar-chart"></i><span>Hệ thống</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="hethong-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/HoSo/Hoso">
                            <i class="bi bi-circle"></i><span>Hồ sơ</span>
                        </a>
                    </li>
                    <li>
                        <a href="PhanquyenNV">
                            <i class="bi bi-circle"></i><span>Phân quyền nhân viên</span>
                        </a>
                    </li>
                    <li>
                        <a href="KHCanhan">
                            <i class="bi bi-circle"></i><span>Khách hàng cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="DTCanhan">
                            <i class="bi bi-circle"></i><span>Doanh thu cá nhân</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Hệ thống Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   data-bs-target="#blog-nav"
                   data-bs-toggle="collapse"
                   href="#">
                    <i class="bi bi-gem"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="blog-nav"
                    class="nav-content collapse"
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="Thongbao.html">
                            <i class="bi bi-circle"></i><span>Thông báo</span>
                        </a>
                    </li>
                    <li>
                        <a href="Huongdan.html">
                            <i class="bi bi-circle"></i><span>Hướng dẫn</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- End Icons Nav -->
        </ul>
    </aside>
    <!-- End Sidebar -->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Hồ sơ</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Hồ sơ</a></li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <img src="/assets/img/profile-img.jpg" alt="Ảnh hồ sơ" class="rounded-circle">
                            <h2>Tên nhân viên</h2>
                            <h3>Vị trí</h3>

                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quát</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa hồ sơ</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi mật khẩu</button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <form class="tab-pane fade show active profile-overview" id="profile-overview">


                                    <h5 class="card-title">Chi tiết hồ sơ</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Mã nhân viên</div>
                                        <div class="col-lg-9 col-md-8">NV02155</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Họ và tên</div>
                                        <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Giới tính</div>
                                        <div class="col-lg-9 col-md-8">Lueilwitz, Wisoky and Leuschke</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                                        <div class="col-lg-9 col-md-8">A108 Adam Street, New York, NY 535022</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
                                        <div class="col-lg-9 col-md-8">24/02/1998</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">quê quán</div>
                                        <div class="col-lg-9 col-md-8">USA</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                                        <div class="col-lg-9 col-md-8">(436) 486-3538 x29071</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">k.anderson@example.com</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">CCCD</div>
                                        <div class="col-lg-9 col-md-8">086694235259</div>
                                    </div>

                                </form>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                    <!-- Profile Edit Form -->
                                    <form>
                                        <div class="row mb-3">
                                            <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Ảnh cá nhân</label>
                                            <div class="col-md-8 col-lg-9">
                                                <img src="/assets/img/profile-img.jpg" alt="Profile">
                                                <div class="pt-2">
                                                    <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                    <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Mã nhân viên</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="manv" type="text" class="form-control" id="manv" value="NV02155">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ và tên</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson">
                                            </div>
                                        </div>



                                        <div class="row mb-3">
                                            <label for="company" class="col-md-4 col-lg-3 col-form-label">Giới tính</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="gender" type="text" class="form-control" id="gender" value="Lueilwitz, Wisoky and Leuschke">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Job" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="address" type="text" class="form-control" id="address" value="Web Designer">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="dateofbirth" type="text" class="form-control" id="dateofbirth" value="24/02/1998">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Quên quán</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="hometown" type="text" class="form-control" id="hometown" value="A108 Adam Street, New York, NY 535022">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Điện thoại</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com">
                                            </div>
                                        </div>



                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                        </div>
                                    </form><!-- End Profile Edit Form -->

                                </div>



                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form>

                                        <div class="row mb-3">
                                            <label for="currentPassword" class="col-md-4 col-lg-4 col-form-label">Mật khẩu hiện tại</label>
                                            <div class="col-md-8 col-lg-8">
                                                <input name="password" type="password" class="form-control" id="currentPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="newPassword" class="col-md-4 col-lg-4 col-form-label">Mật khẩu mới</label>
                                            <div class="col-md-8 col-lg-8">
                                                <input name="newpassword" type="password" class="form-control" id="newPassword">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-4 col-form-label">Nhập lại mật khẩu mới</label>
                                            <div class="col-md-8 col-lg-8">
                                                <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                            </div>
                                        </div>

                                        <div class="text-end">
                                            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                                        </div>
                                    </form><!-- End Change Password Form -->

                                </div>

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>COL</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Edited design by COL
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#"
       class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <script>
        function chooseFile1(fileinput) {
            if (fileinput.files && fileinput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image1").attr("src", e.target.result);
                };
                reader.readAsDataURL(fileinput.files[0]);
            }
        }
    </script>
    <script src="/assets/js/ajax.js"></script>

    <script type="text/javascript" src="~/datatables.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/HeThong.js"></script>
</body>
</html>
