@model VatTuYTeDanhMuc.Models.Entities.NhomHangHoa



<h1>Thêm nhóm hàng hóa</h1>

<h4>nhóm hàng hóa </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertNHH">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhh" class="control-label"></label>
                <input asp-for="MaNhh" required class="form-control" />
                <span asp-validation-for="MaNhh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNhh" class="control-label"></label>
                <input asp-for="TenNhh" required  class="form-control" />
                <span asp-validation-for="TenNhh" class="text-danger"></span>
            </div>
          
            
            <div class="form-group">
                <label asp-for="Idcn" class="control-label"></label>
                <input asp-for="Idcn" required class="form-control" />
                <span asp-validation-for="Idcn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="table">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
